In [ ]:
import pandas as pd
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [31]:
# import dataset
df = pd.read_csv("./haberman.csv")

In [32]:
# check for missing values, df types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 305 entries, 0 to 304
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   30      305 non-null    int64
 1   64      305 non-null    int64
 2   1       305 non-null    int64
 3   1.1     305 non-null    int64
dtypes: int64(4)
memory usage: 9.7 KB

Observations:
- Column names are not proper.
- there are no missing values
- data type of all features is int64.

In [33]:
# give meaningful names to colums
df.columns = ["age",'year','nodes','status']

In [34]:
df.describe()

              age        year       nodes      status
count  305.000000  305.000000  305.000000  305.000000
mean    52.531148   62.849180    4.036066    1.265574
std     10.744024    3.254078    7.199370    0.442364
min     30.000000   58.000000    0.000000    1.000000
25%     44.000000   60.000000    0.000000    1.000000
50%     52.000000   63.000000    1.000000    1.000000
75%     61.000000   66.000000    4.000000    2.000000
max     83.000000   69.000000   52.000000    2.000000

### Observations:
- age range - 30 to 83 yrs.
- data set collected btw 1958 to 1969.

In [35]:
print(df["status"].value_counts())
print(df["year"].value_counts())

status
1    224
2     81
Name: count, dtype: int64
year
58    36
63    30
64    30
65    28
60    28
66    28
59    27
61    26
67    25
62    23
68    13
69    11
Name: count, dtype: int64

### Observations
- more ppl have status 1 (survived more than five yrs), hence dataset imbalance.
- no. of operations peformed decreased over the years.

### Univariate Analysis
- PDF
- CDF