In [93]:
import pandas as pd
import numpy as np

In [90]:
movies_df= pd.read_csv('./movies.csv')
movies_df.head()

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,Army of Thieves,(2021),"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN

### Observation:
- year column should be int
- \n before str in genre, one-line and stars
- many unknown genre
- in stars get director and star differently

In [3]:
movies_df.shape

(9999, 9)

In [327]:
# copy data
df = movies_df.copy()

In [328]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   MOVIES    9999 non-null   object
 1   YEAR      9355 non-null   object
 2   GENRE     9919 non-null   object
 3   RATING    8179 non-null   float64
 4   ONE-LINE  9999 non-null   object
 5   STARS     9999 non-null   object
 6   VOTES     8179 non-null   object
 7   RunTime   7041 non-null   float64
 8   Gross     460 non-null    object
dtypes: float64(2), object(7)
memory usage: 703.2+ KB

### Observation
- votes should be float (int can't work on NaN values)

In [329]:
# Check null values
df.isna().sum()

MOVIES         0
YEAR         644
GENRE         80
RATING      1820
ONE-LINE       0
STARS          0
VOTES       1820
RunTime     2958
Gross       9539
dtype: int64

In [330]:
# check percentage of null data
100*df.isnull().sum()/df.shape[0]

MOVIES       0.000000
YEAR         6.440644
GENRE        0.800080
RATING      18.201820
ONE-LINE     0.000000
STARS        0.000000
VOTES       18.201820
RunTime     29.582958
Gross       95.399540
dtype: float64

In [331]:
# check duplicates
df.duplicated().sum()

np.int64(431)

### Data Cleaning

In [332]:
# remname column name to small and remove all talling splaces 
df.columns = df.columns.str.strip().str.lower()
df.columns

Index(['movies', 'year', 'genre', 'rating', 'one-line', 'stars', 'votes',
       'runtime', 'gross'],
      dtype='object')

In [333]:
df['year'].unique()

array(['(2021)', '(2021– )', '(2010–2022)', '(2013– )', '(2020– )',
       '(2006–2013)', '(2019– )', '(2016–2021)', '(2011– )', '(2005– )',
       '(2008–2013)', '(2017– )', '(2017–2021)', '(2016– )',
       '(1994–2004)', '(2014– )', '(2013–2020)', '(2015– )',
       '(2005–2020)', '(2013–2022)', '(2003– )', '(2009–2020)',
       '(I) (2018– )', '(2010–2015)', '(2011–2019)', '(2015–2020)',
       '(2005–2014)', '(2009–2015)', '(2008–2014)', '(2016–2018)',
       '(2009–2017)', '(2020)', '(2018–2021)', '(2017–2020)',
       '(1987–1994)', '(2018– )', '(2012– )', '(2014–2020)',
       '(2011–2018)', '(2005–2017)', '(2017)', '(2007–2015)',
       '(2000–2007)', '(II) (2007– )', '(1993)', '(1999–2022)',
       '(2015–2018)', '(2014–2019)', '(2016)', '(2012–2020)',
       '(2013–2019)', '(2007–2012)', '(2011–2020)', '(2010–2017)',
       '(2000–2015)', '(2015–2021)', '(2001)', '(1997– )', '(2011–2017)',
       '(1993–1999)', '(1989–1998)', '(2010–2013)', '(2010–2020)',
       '(2003–2019)', '(I) (2019)', '(2017–2019)', '(1975)',
       '(2005–2008)', '(1995–2001)', '(2006)', '(2015–2017)',
       '(2008–2020)', '(1984–1996)', '(2010– )', '(2014)', '(2000)',
       '(2013–2018)', '(2009–2016)', '(2016–2020)', '(2021 TV Special)',
       '(2003)', '(1998–2003)', '(I) (2017)', '(1966–1969)', '(2009– )',
       '(2019)', '(1990–1991)', '(2012)', '(1995)', '(2020–2021)',
       '(2013–2017)', '(2015)', '(2019–2020)', '(2017–2018)',
       '(2013–2015)', '(2012–2017)', '(I) (2013–2016)', '(2002)',
       '(I) (2020)', '(III) (2021)', '(2018)', '(II) (2016)', '(1976)',
       '(1978)', '(2016–2019)', '(2009–2014)', '(2022)', '(2011–2014)',
       '(2007–2013)', '(2006–2007)', '(2002–2007)', '(2014–2017)',
       '(2010–2019)', '(2008– )', '(2012–2019)', '(2014–2016)',
       '(2009–2012)', '(2018–2020)', '(2001–2005)', '(2011–2015)',
       '(2014–2018)', '(2015–2019)', '(1982–1993)', '(1998– )', '(1968)',
       '(2010–2018)', '(2014–2021)', '(2007–2010)', '(2011)',
       '(2013–2021)', '(1990–1996)', '(2004)', '(2007–2014)',
       '(1996–2001)', '(2013)', '(2008)', '(1999–2000)', '(2012–2014)',
       '(I) (2013)', '(2012–2018)', '(2018–2019)', '(2009–2013)',
       '(1971)', '(2004– )', '(1989)', '(1998)', '(2001–2018)',
       '(1987–1995)', '(I) (2014)', '(1998–2020)', '(I) (2015)', '(1997)',
       '(2004–2013)', '(2002– )', '(2010)', '(I) (2016)', '(II) (2017– )',
       '(I) (2018)', '(I) (2021)', '(2004–2012)', '(2019–2021)',
       '(IV) (2020)', '(2006–2010)', '(2006–2012)', '(1996)',
       '(1994–2000)', '(II) (2020)', '(1980)', '(I) (2011)',
       '(1995–1996)', '(2016–2017)', '(1993–1996)', '(II) (2019– )',
       '(2009)', '(1962)', '(1991)', '(2022– )', '(II) (2017)',
       '(I) (2012)', '(1984)', '(2011–2016)', '(2009–2019)',
       '(II) (2020– )', '(2006–2021)', '(I) (2010)', '(2012–2015)',
       '(I) (2013–2014)', '(1960)', '(1988)', '(2007)', '(1987)',
       '(2010–2011)', '(1969)', '(2006–2011)', '(II) (2019)', '(1961)',
       '(1979)', '(II) (2022)', '(2014–2015)', '(1956)', '(2013–2016)',
       '(III) (2018)', '(2005)', '(II) (2012– )', '(II) (2013)', '(1983)',
       '(2002–2019)', '(2013 TV Movie)', '(II) (2015)', '(I) (2012–2015)',
       '(1975–1979)', '(1990)', nan, '(II) (2018)', '(IV) (2021)',
       '(2015–2016)', '(1995–1998)', '(1986)', '(2012–2013)', '(1966)',
       '(2011–2012)', '(2011–2021)', '(2016 Video)', '(2017 TV Movie)',
       '(2009–2011)', '(2004–2018)', '(1967)', '(1984– )', '(1994)',
       '(2003–2006)', '(III) (2015)', '(1974)', '(2000–2004)',
       '(1984–2021)', '(I)', '(II) (2021)', '(1994–1999)', '(III)',
       '(1992)', '(1969–1974)', '(2012–2016)', '(2013–2014)',
       '(I) (2008)', '(1958)', '(2008–2009)', '(II) (2004)',
       '(III) (2019)', '(2006–2009)', '(2011–2013)', '(2007–2008)',
       '(1988–1999)', '(2010–2012)', '(2010–2014)', '(II) (2012)',
       '(1932)', '(2014 TV Movie)', '(1941)', '(2006– )', '(1992–1995)',
       '(2016 TV Special)', '(2020 TV Movie)', '(2008–2010)', '(II)',
       '(2020 Video)', '(1999– )', '(1950)', '(2020 TV Special)',
       '(1992–2014)', '(2002–2005)', '(2013 TV Special)', '(I) (2021– )',
       '(1999)', '(2016 TV Movie)', '(XII)', '(VII)', '(2021 TV Movie)',
       '(1983– )', '(1996 Video)', '(1993 TV Movie)', '(2018 TV Movie)',
       '(2005–2009)', '(2001–2002)', '(2015 TV Movie)', '(I) (2020– )',
       '(2011 Video)', '(2008 Video)', '(2012 Video)', '(1946)',
       '(II) (2014)', '(2019 Video)', '(1981–1989)', '(IV) (2016)',
       '(III) (2016)', '(2019 TV Movie)', '(1952)', '(2007 Video)',
       '(2000–2014)', '(1992– )', '(1957)', '(2003–2007)', '(IV)',
       '(2008–2017)', '(2008–2019)', '(1998–2000)', '(I) (2004)',
       '(2007–2016)', '(2017 TV Special)', '(2009 TV Movie)',
       '(2013 Video)', '(2017 Video)', '(1994–1996)', '(IV) (2017)',
       '(IV) (2018)', '(2007– )', '(1954)', '(2012 TV Movie)', '(1995– )',
       '(1982)', '(1955)', '(2014 TV Short)', '(I) (2022– )',
       '(I) (2019–2020)', '(1975 TV Movie)', '(2019 TV Special)',
       '(2015 TV Special)', '(2015 TV Short)', '(2018 TV Special)',
       '(1948)', '(2014 Video)', '(VI) (2014)', '(2003–2013)',
       '(2021 Video)', '(1947)', '(2001– )', '(II) (2021– )',
       '(1997–2000)', '(III) (2020)', '(I) (2019– )', '(1993– )',
       '(1977)', '(I) (2009)', '(V)', '(2023)', '(I) (2000)',
       '(TV Special)', '(II) (2011)', '(TV Movie)', '(1945)',
       '(2015 Video)', '(III) (2010)', '(2009 Video)', '(1998–2002)',
       '(2008 TV Movie)', '(2019 TV Short)', '(2004 Video)',
       '(II) (1998)', '(2014 TV Special)', '(1953)', '(1985)', '(VIII)',
       '(1973)', '(2012 TV Special)', '(V) (2016)', '(1972)',
       '(V) (2018)', '(II) (2010)', '(2021 TV Short)', '(VI) (2019)',
       '(I) (2005)', '(1965)', '(2010–2016)', '(V) (2010)', '(2005–2013)',
       '(2006 TV Special)', '(2006 Video)', '(2011 TV Movie)',
       '(1988 TV Movie)', '(XXIII)', '(2011 TV Special)',
       '(2020 TV Short)', '(VI) (2018)', '(2008 TV Special)',
       '(1998–1999)', '(I) (2015– )', '(III) (2012)', '(VI)',
       '(2010 TV Special)', '(III) (2017)', '(1993 TV Special)',
       '(2004–2005)', '(1992 Video)', '(1989 TV Special)', '(XI)',
       '(III) (2014)', '(1966 TV Special)', '(1999 TV Movie)',
       '(1987 TV Special)', '(1944)', '(1998 TV Special)',
       '(2006 TV Movie)', '(2022 TV Special)', '(1989 Video)',
       '(1991 TV Special)', '(XLI)', '(IV) (2014)', '(2005 Video)',
       '(2007 TV Special)', '(1965 TV Special)', '(1990 TV Special)',
       '(2001 TV Special)', '(IX)', '(II) (2016– )', '(XIV) (2017)',
       '(2009–2010)', '(XIII)', '(II) (2012–2019)', '(1933)',
       '(II) (2009)', '(2010 Video)', '(2009 TV Special)', '(1938)',
       '(2003 TV Special)', '(Video)', '(2001 TV Movie)', '(VI) (2016)',
       '(III) (2011)', '(2007 TV Movie)', '(2017 TV Short)',
       '(2018 Video)', '(2000 Video)', '(1995 Video)', '(2003 Video)',
       '(II) (2016 TV Movie)', '(1998 Video)', '(2005 TV Special)',
       '(2004–2009)', '(2018 Video Game)', '(1988– )', '(1985– )'],
      dtype=object)

In [334]:
# remove all characters and convert year to int
df['year'] = df['year'].str.extract(r'(\d{4})', expand=False).astype(float)
df['year'].unique()

array([2021., 2010., 2013., 2020., 2006., 2019., 2016., 2011., 2005.,
       2008., 2017., 1994., 2014., 2015., 2003., 2009., 2018., 1987.,
       2012., 2007., 2000., 1993., 1999., 2001., 1997., 1989., 1975.,
       1995., 1984., 1998., 1966., 1990., 2002., 1976., 1978., 2022.,
       1982., 1968., 2004., 1996., 1971., 1980., 1962., 1991., 1960.,
       1988., 1969., 1961., 1979., 1956., 1983.,   nan, 1986., 1967.,
       1974., 1992., 1958., 1932., 1941., 1950., 1946., 1981., 1952.,
       1957., 1954., 1955., 1948., 1947., 1977., 2023., 1945., 1953.,
       1985., 1973., 1972., 1965., 1944., 1933., 1938.])

In [335]:
df['genre'] = df['genre'].str.strip()
df['genre'][:5]

0        Action, Horror, Thriller
1    Animation, Action, Adventure
2         Drama, Horror, Thriller
3    Animation, Adventure, Comedy
4           Action, Crime, Horror
Name: genre, dtype: object

In [336]:
df['one-line'] = df['one-line'].str.strip()  # Strip whitespace
df['one-line'] = df['one-line'].replace('Add a Plot', 'Unknown')  # Replace 'Add a Plot' with 'Unknown'
df['one-line'] = df['one-line'].str.replace(r'[^\w\s]', '', regex=True)  # Remove non-alphanumeric characters
df['one-line']

0       A woman with a mysterious illness is forced in...
1       The war for Eternia begins again in what may b...
2       Sheriff Deputy Rick Grimes wakes up from a com...
3       An animated series that follows the exploits o...
4       A prequel set before the events of Army of the...
                              ...
9994                                              Unknown
9995                                              Unknown
9996                                              Unknown
9997                                              Unknown
9998                                              Unknown
Name: one-line, Length: 9999, dtype: object

In [337]:
pd.to_numeric(df['rating'], errors='coerce')

0       6.1
1       5.0
2       8.2
3       9.2
4       NaN
       ...
9994    NaN
9995    NaN
9996    NaN
9997    NaN
9998    NaN
Name: rating, Length: 9999, dtype: float64

In [338]:
def get_stars(text):
    director = None
    stars = None
    if 'Director:' in text:
        director = text.split('Director:\n')[1].split('\n|')[0].strip()
    if 'Stars:' in text:
        stars = text.split('Stars:\n')[1].replace('\n','').strip()
    return director, stars

In [340]:
df[['director','stars']] = df['stars'].apply(lambda x : pd.Series(get_stars(x)))
df['stars'] = df['stars'].apply(lambda x: x if x !=None else 'Unkonwn')
df['stars'].head()

0    Peri Baumeister, Carl Anton Koch, Alexander Sc...
1    Chris Wood, Sarah Michelle Gellar, Lena Headey...
2    Andrew Lincoln, Norman Reedus, Melissa McBride...
3    Justin Roiland, Chris Parnell, Spencer Grammer...
4    Matthias Schweighöfer, Nathalie Emmanuel, Ruby...
Name: stars, dtype: object

In [356]:
df['director'] = df['director'].apply(lambda x: x if x !=None else 'Unkonwn')

In [341]:
df['votes']=df['votes'].str.replace(',', '').astype(float)
df['votes'].head()

0     21062.0
1     17870.0
2    885805.0
3    414849.0
4         NaN
Name: votes, dtype: float64

In [342]:
# gross
df['gross'].str[-1].unique()

array([nan, 'M'], dtype=object)

### Observation
- have to change str with M (Million) to float (for Nan values)

In [343]:
def convertGrossToFloat(gross):
    if pd.isna(gross): return np.nan
    if 'M' in gross: return float(gross.replace('M', '').replace('$',''))* 1_000_000
    return float(gross)

In [344]:
df['gross'] = df['gross'].apply(convertGrossToFloat)

In [353]:
df['gross'].sample(20)

6568            NaN
2764            NaN
7525            NaN
8577            NaN
9814            NaN
444             NaN
6919            NaN
617             NaN
5459            NaN
767     101200000.0
5031            NaN
4407            NaN
2614            NaN
2638            NaN
1686        10000.0
8736            NaN
4946            NaN
3377            NaN
2519            NaN
5877            NaN
Name: gross, dtype: float64

### Fill Null Values

In [386]:
df2 = df.copy()

In [387]:
df2.isnull().sum()

movies         0
year         748
genre         80
rating      1820
one-line       0
stars          0
votes       1820
runtime     2958
gross       9539
director       0
dtype: int64

In [388]:
# replacing null year by central value
df2['year']=df2['year'].fillna(df2['year'].median())
df2['year'].isnull().sum()

np.int64(0)

In [389]:
# replacing genere by most common grnre
df2['genre']=df2['genre'].mode()[0]

In [390]:
# replacing null rating with most common rating
df2['rating'] = df2['rating'].mode()[0]

In [391]:
# replacing null votes by central value
df2['votes'] = df2['votes'].fillna(df2['votes'].median())

In [392]:
# replacing with central value
df2['runtime'] = df2['runtime'].fillna(df2['runtime'].median())

In [393]:
# replacing gross with most common gross value
df2['gross'] = df2['gross'].mode()[0]

In [394]:
df2.isnull().sum()

movies      0
year        0
genre       0
rating      0
one-line    0
stars       0
votes       0
runtime     0
gross       0
director    0
dtype: int64